.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

.main-content {
  border: solid black 1px;
  margin: 30px 0;
  padding: 20px;
}

.form-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
}

.individual-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  margin: 20px 0 0;
}

.individual-item input {
  align-self: center;
  padding: 15px;
  width: 40%;
}

.form-item p {
  font-weight: bold;
}

.form-item input {
  align-self: center;
  padding: 15px;
}

.add-person {
  background: grey;
  color: white;
  outline: none;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  margin: 15px 0 0;
}

.individual-items {
  margin: 30px 0;
}

.remove-btn {
  background: darkred;
  color: white;
  outline: none;
  border: none;
  padding: 10px;
  text-transform: uppercase;
}

.calculate-btn {
  background: green;
  color: white;
  outline: none;
  border: none;
  padding: 10px;
  text-transform: uppercase;
}

.calculate-btn:active {
  background: greenyellow;
}

.test {
  width: 10px;
  height: 10px;
  background: red;
}

.results {
  border: solid 1px black;
  margin-top: 40px;
  display: inline-block;
  padding: 5px 20px;
}

.results p {
  margin: 5px 0;
}